/*
Errno::ENOENT: No such file or directory - ./source-file.scss

Backtrace:
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:369:in `read'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:369:in `update_stylesheet'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `each'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:221:in `watch'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/plugin.rb:108:in `method_missing'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/exec.rb:509:in `watch_or_update'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/exec.rb:346:in `process_result'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/exec.rb:43:in `parse'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/lib/sass/exec.rb:22:in `parse!'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/gems/sass-3.3.10/bin/sass:13:in `<top (required)>'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/bin/sass:23:in `load'
/home/vagrant/code/mks/stylesheets/foundation-design/vendor/bundle/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - ./source-file.scss"; }
