body {
	background-color: #F6F7F9;	
	font-family: helvetica;
	min-width: 800px;
}
#toto {
	display: block;
	height: 100px;

}
#logo {
    width:25em;
    height:5em;
	float: left;
}
#logo img {
	width: 50%;
	/*margin-left: 100px;*/
}


#nav ul li{
	list-style-type: none;
	display: inline-block;
	height: 100%;
	font-size: 1.5em;
	color: #303A7C;
	padding: 30px 20px;
	height: 2em;
	margin-top: -0.4em;
	font-weight: normal;
}

#nav ul li:hover {
	background-color: white;
}


#hiremebutton {
	position: absolute;
	top: 10px;
	right: 5em;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #4EBAC9;
}




#bio {
	border-top: 4px solid #000;
	width: 100%;
	background-color: #5C64AC;
	padding-bottom: 5em;

}
#profilepic {
	float:left;
	margin-top: 20px;
	height: 250px;
	width: 250px;
	background-color: white;
	border-radius: 125px;
	border: 4px solid #7E81BD;
	background-image:url('../images/ct2onaX.png');
	background-size: 250px;
}
#textblurb {
	padding-left: 22em;
	color: white;
}
h1 {
	color: white;
	font-size: 4em;
	margin-bottom: 5px;
}
#selfdescription {
	color: #303A7C;
	font-size: 2.5em;

}

#subdesc {
	color: #7E81BD;
	font-size: 1.21em;
}

#morebutton {
	margin-top: 10px;
	width: 30%;
	background-color: white;
	height: 30px;
	border-radius: 7px;
	color: #373E66;
	padding: 20px 10px 10px;
}
#buttontext {
	margin-top: 20px;
	padding-left: 20px;
}

.alignment {
	margin: 0 auto;
	width: 75%;
}
#teams {
	padding: 1em 0em;
}
#teams img {
	width: 100%;

}

#bottom {
	width: 100%;
	background-color: white;
	border-bottom: 4px solid #000;
	
	}

h3 {
	margin-top: 0px;
	color: gray;
	font-family: helvetica;
	font-size: 2.5em;
	font-weight: normal;
	padding-top: 1em;
	margin-bottom: 0px;

}

#work img {
	width: 100%;
}
