/*
Syntax error: File to import not found or unreadable: tables.
              Load path: /vagrant/html_projects/project_shoestring_sass (DEPRECATED)
        on line 11 of sass/shoestring/normalize.sass
        from line 1 of ./sass/shoestring/main.sass

6:   h1
7:     color: red

Backtrace:
sass/shoestring/normalize.sass:11
./sass/shoestring/main.sass:1
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/import_node.rb:66:in `rescue in import'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/import_node.rb:45:in `import'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:297:in `map'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:88:in `block in with_import'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:88:in `with_import'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `call'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/vagrant/html_projects/project_shoestring_sass/vendor/bundle/gems/sass-3.3.7/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: tables.\A               Load path: /vagrant/html_projects/project_shoestring_sass (DEPRECATED)\A         on line 11 of sass/shoestring/normalize.sass\A         from line 1 of ./sass/shoestring/main.sass\A \A 6:   h1\A 7:     color: red"; }
