body {
    height: 30em;
    background: url('http://images8.alphacoders.com/370/370799.jpg') 100% / cover no-repeat;
}

img {
	// border-radius: 100px;
	margin-top: 50px;
	padding: 20px;
	background-color: black;
	width: 100rem;
	height: 600px;

}

