body {
    
}

img {
	border-radius: 100px;
	margin-top: 50px;
	padding: 3px;
	// background-color: #158cba;
	margin-left: 30px;
	// width: 100rem;
	// height: 600px;
}

.white {
	margin-top: 60px;
	height: 30em;
	// margin-left: 100px;
	// height: 500px;
	background: url('http://2.bp.blogspot.com/-ZJqhHDqXoOY/U0mHXc7nk9I/AAAAAAAAC84/g0AWjgHXkfU/s1600/BrickBackgroundGrey.gif')
}
h1 {
	font-size: 80px;
	color: #105ee9;
	font-family: Verdana,Serif;
}

.active {
	width: 205px;

}

