.sponsors {
	text-align: center;
	background: #333
	h4 {
		font-size: 1.5em;
	}

	p {
		font-size: 0.8em;
		margin-bottom:0.25rem;
	}
}

.page {
	margin-top: 1rem;
}

.history img {
	float: right;
	margin-left: 1em;
	margin-bottom: 0.5rem;
}

body {
	background: url("../images/concrete-wall.png");
}


