body {
  margin: 0;
}
header{
  background: whitesmoke;
  display: inline-block;
  width: 100%;
}
#logo {
  float: left;
  width: 13%;
  padding: 2em 0 0 2em;
}
#logo img{
  width:100%;
}
header div:nth-child(2){
  display: inline-block;
  width: 75%;
  position: relative;
  right: 0;
}
#nav {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin: 0;
}
#nav li {
  float: left;
  padding: 2.5em 1em 2.5em 1em;
  font-family: sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.2em;
}
#nav li:hover {
  background: white;
}
#nav li:last-child:hover{
  background: whitesmoke;
}
#nav li:last-child {
  padding: .6em;
}
#nav li:last-child div{
  background: rgb(148, 223, 217);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 1em;
  font-family: 'Satisfy', cursive;
  color: white;
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
#nav li:last-child span {
  position: relative;
  top: 35%;
  text-transform: none;
  padding: 0 .5em;
}
#full-width-section {
  background: rgb(97, 78, 138);
  width: 100%;
  margin: 0;
  padding: 4em;
}
#profile-pic {
  background-image: url('./images/profile-pic.png');
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-size: cover;
  display: inline-block;
  border: 2px solid white;
}
#full-width-section div:nth-child(2){
  width: 70%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2em;
}
h1 {
  color: white;
  font-family: sans-serif;
  font-size: 4em;
  margin-bottom: .5em;
}
h2 {
  font-family: sans-serif;
  font-weight: lighter;
  color: rgba(0,0,0,.5);
  font-size: 2em;
  margin-bottom: .5em;
  margin-top: 0;
}
h3 {
  display: inline-block;
  font-family: sans-serif;
  font-weight: lighter;
  color: white;
  font-size: .9em;
}

#companies {
  width: 100%;
  padding: 0!important;
}
#companies img {
  width: 100%;
}
span#find-out {
  color: purple;
  font-family: sans-serif;
  padding: .8em;
  font-size: 1.5em;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #ccc;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  }
span#find-out:hover{
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#work{
  padding: 4em;
}
#work img{
  width: 100%;
}