.cf:before,
.cf:after, 
.wrapper:before,
.wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after, .wrapper:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, .wrapper {
    *zoom: 1;
}