*, *:before, *:after {
/*	border:thin solid red;
*/	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	max-width: 64em;
	width: 64em;
	margin: 0 auto;
}

/*HEADER*/

header {
	padding: 1em 0;
}

nav, .logo {
	display: inline-block;
	float: left;
}

nav {
	margin-left: 10%;
}

.logo {
	margin-left: 5%;
}

nav span {
	display: inline-block;
	width: 6em;
	margin-left: 1em;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


/*BANNER*/

.banner {
	background: url(images/background.jpg) no-repeat;
	background-size: cover;
	padding-top: 50px;
	height: 280px;
}

.banner {
	overflow: hidden; /*or might need z-index*/
}

.computer, .info {
	float: left;
}

.computer {
	width: 40%;
	margin-left: 5%;
}

.info {
	width: 40%;
	margin-left: 5%;
}

.subscribe {
	float: left;
}

.subscribe .highlight {
	margin: -2%;
}

/*FEATURES*/

.third {
	width: 32.5%;
	float: left;
}

.third:nth-child(2) {
	margin: 0 1.25%;
}


.symbol {
	width: 40px;
	height: 40px;
	margin: 0.5em 5%;
	float: left;
}

.content {
	width: 69%;
	float: left;
}

/*FOOTER*/

.centered {
	width: 60%;
	margin: 0 auto;
	text-align: center
}



