@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,900);

body{
	margin: 0;
	font-family: 'Carrois Gothic', sans-serif;
	padding: 0px;
}
div.about h1{
	color: white;
	font-size: 50px;
	margin: 20px;
	padding-top: 40px;
}
div.about h2{
	color: #21214F;
	margin-bottom: 0;
	font-weight: 300;
	margin: 20px;
}
p{
	color: white;
	font-size: 16px;
	font-weight: 100;
	line-height: 20px;
	margin: 20px 0px;
	text-rendering: optimizeLegibility;
}
.button a{
	text-decoration: none;
	color: #22254B;
}
.button{
	margin-left: 0;
}
h4{
	margin-bottom: 0;
	font-weight: 100;
	font-size: 20px;
}
div{
	width: 100%;
}
div.navbar{
	background-color: #F4F5F7;
	height: 115px;
	border-bottom: 3px solid black;
}
div.navbar ul li{
	color: #454256;
	float:left;
	padding: 0 20px;
	font-size: 30px;
	height: 115px;
	margin: 0;
	line-height:100px;
}
div.navbar ul li:hover{
	background-color:white;
}
div.navbar img{
	float:left;
	height: 60px;
	display: inline-block;
	padding-left: 60px;
	padding-bottom: 5px;
	padding-right: 240px;
	margin-top: 20px
}
div.navbar img.hire{
	padding:0;
	height:70px;
}
ul{
	list-style: none;
	font-variant: small-caps;
	margin: 0;

}
div.about{
	background-color: #4A4D98;
	height: 400px;
}
div.about span{
	width: 60%;
}
div.about img{
	width: 240px;
	height: 240px;
	border: 3px solid #8082AA;
	border-radius: 120px;
	margin: 40px 50px 60px 70px;
}
div.company{
	background-color: #F4F5F7;
	height: 110px;
	border-bottom: 3px solid #E1E1E7;
}
div.company img{
	height: 100%;
	width: 100%;
	display: block;
}
div.work{
	box-sizing: border-box;
	background-color: white;
	height: 400px;
	padding-left:60px;
	padding-top: 70px;
}
div.work img{
	width: 90%
}