.wrapper {
	width: 90%;
	margin: 2em auto;
	padding: 5%;
	max-width: 1000px;
}

ul.work {
	border: 0px solid #000000;
	padding: 10px;
	overflow: auto;
	margin-bottom: 2em;
}

ul.work	li {
	width: 50%;
	float: left;
	margin: 0;
	padding: 10px; 
	opacity: 0.7;
}

ul.work	li:hover{
	opacity: 1.0;
}


