body {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    color:$body-text;
}

blockquote {
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 25px;
}

h1 {
    font-size: 3.45em;
    line-height: 1.1029411764705883em;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 800;
    font-family: 'Open Sans';
}

h2 {
    font-size: 2em;
    line-height: 1.1904761904761905em;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
}

h3 {
    font-size: 1.625em;
    line-height: 1.9230769230769231em;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
}

h4 {
    margin-bottom: 25px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Open Sans';
    font-size: 1.2em;
    line-height: 1.6171875em;
}

h5 {
    margin-bottom: 25px;
    font-style: uppercase;
    font-weight: 700;
    font-family: 'Open Sans';
    font-size: 0.875em;
    line-height: 1.8482142857142858em;
}

h6 {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 25px;
    font-size: 1em;
    line-height: 1.6171875em;
}

p {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 1.1em;
    line-height: 1.6171875em;
}

p.intro {
    font-size: 1.325em;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
    line-height: 31.875px;
}

p.job-title {
    font-weight: 700;
    font-size: 1.325em;
    margin: 0;
    text-transform: uppercase;
}

p.location {
    font-style: italic;
}