span {
	font-family: 'News Cycle', sans-serif;
	font-size: 1em;
	color: #5e5c70;
}


h2 {
	font-family: 'News Cycle', sans-serif;
	margin: 0 auto;
}

h3 {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 3em;
	color: white;
	margin: 3.5% auto 0 auto;
}

h4 {
	font-family: 'News Cycle', sans-serif;
	font-size: 1.5em;
	color: #484f8e;
	margin: 0 auto;
}

h6 {
	font-family: 'News Cycle', sans-serif;
	font-size: 0.8em;
	color: #9ca5d7;
	margin: 0 auto 5% auto;
}

select {
	display: block;
	font-family: Arial;
	font-size: 1em;
}