/* troubleshooting section */
*, *:before, *:after {
	border: 1px solid red;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}

.main-content {
	background: #ffffff;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 960px;
	color: black;
}

.logo, .nav {
	display: inline-block;
	float: left;
}

.logo {
	margin-left: 5%;
}

.logo img {
	width: 30%;
}

.nav.first {
	margin-left: 30%;
}

.profile-pic, .profile-info {
	float: left;
}

.profile-pic {
	width: 20%;
	margin-left: 8%;
	float: left;
	margin: 0 auto;
	clear: both;
}

.profile-pic img {
	width: 70%;
	display: block;
}

.profile-info {
	width: 60%;
	float: left;
}

.work-port {
	width: 80%;
	margin: 0 auto;
}

.work-port img, .company img {
	width: 100%;
}

.purple {
	background: #5d66aa;
}
.grey {
	background: #f6f7f9;
}



















