body {margin: 0}

.container {
    width: 100%;

}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
        
.clearfix:after {
    clear: both;
}

.center {
    width: 85%;
    margin: 0 auto;
}

.wrapper > header {
    height: 109px;
}

.wrapper, #companies {
    background-color: #f6f7f9;
}

nav img {
    margin: 10px 0; 
}
nav ul {
    list-style: none;
    float: right;
    padding: 0 1em;
}

nav ul li {
    display: inline;
    padding-top: 20px;
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: .75em .75em;
    width: 110px;
    height: 109px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #999;
    box-sizing: border-box;
    margin-top: -17px;
    vertical-align: middle;
}

#hire {
    border-radius: 50%;
    border: 1px solid #43bac7;
    background-color: #43bac7;
}

nav ul li a:hover {
    background-color: white;
}

section {
    background-color: #5c66a7;
    border-top: 4px solid #363a71;
}

div #hero {
    height: 400px;
    background-color: #5c66a7;
}

div #pic {
    float: left;
    width: 20%;
    margin-top: 40px;
    margin-right: 50px;
    padding-left: 0px;
    box-sizing: border-box;
}

div #content {
    padding-top: 40px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}

#content h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 50px;
    margin-bottom: 5px;
}

#content h3 {
    font-size: 32px;
    font-weight: 100;
    color: #4c5694;
    margin-bottom: 5px;
}

#content p {
    color: white;
}

button {
    width: 230px;
    height: 50px;
    border: 1px solid #4c5694;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4c5694;
    font-weight: 600;
    font-size: 20px;
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 1%, rgba(254,255,255,1) 12%, rgba(217,219,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(254,255,255,1)), color-stop(12%,rgba(254,255,255,1)), color-stop(100%,rgba(217,219,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 1%,rgba(254,255,255,1) 12%,rgba(217,219,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 1%,rgba(254,255,255,1) 12%,rgba(217,219,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 1%,rgba(254,255,255,1) 12%,rgba(217,219,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 1%,rgba(254,255,255,1) 12%,rgba(217,219,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d9dbf2',GradientType=0 ); /* IE6-9 */
}

button:hover {
    cursor: pointer;
}

#pic img {
    height: 260px;
    border-radius: 50%;
    border: 4px solid #8185b5;
}

#companies img {
    width: 1207px;
}

#foot_text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 4px;
    color: #5c66a7;
}

footer img.center {
    width: 1207px;
}