footer {
	// height: 100px;
	margin-top: $margin-h;
	background: $dark-gray;
}

.social {
	// background:$mks-blue;
	display: block;
	text-align: center;
	font-size: 2.5em;
	padding: 0.75em 0;
	color: white;
}