/*
 * ShoeString.css  - A css framework for learning CSS frameworks
 */

// add normalize to override browser defaults
@import normalize

// provide clearfix
@import clearfix

// add variables file
@import vars

// add mixins file
@import mixins

// add gridding and responsive design
@import grid

// add button styles
@import buttons

// add link styles
@import links


///////////////////////
// Hero-Wrap Styles
///////////////////////
.hero-wrap
  width: 100%
  height: 40em
  background: url('../images/girl_sleeping_small.jpg')no-repeat
  background-size: 100% 40em
  // position: relative


///////////////////////
// Navigation Styles
///////////////////////
nav 
  width: 85%
  margin-left: auto 
  
nav button
  margin-top: 3em
  width: 13%
  min-width: 6.5em
  float: left
  display: inline-block

nav button.inner
  border-radius: 0.1px

nav button.first
  border-radius: 4px 0 0 4px

nav button.last
  border-radius: 0 4px 4px 0

///////////////////////
// Main-Text Styles
///////////////////////
.main-text
  float: left
  margin: 5em 2% 0 2%
  width: 30%
  font-size: 30px
  text-align: center


///////////////////////
// Fourth Styles
///////////////////////
#fourth 
  padding: 1%
  width: 98%
  margin: 0 1% 0 1%

#fourth span
  color: white
  text-shadow: 0 0 10px #000000
  margin-top: 1.5em

#fourth.fourth
  height: 12em
  width: 100%

#fourth a
  margin: 0% -2.1% 0% 3.5%
  width: 22%
  min-height: 12em
  display: inline-block
  text-align: center

#fourth a:hover
  -moz-transform: scale(1.2)
  -webkit-transform: scale(1.2)
  -o-transform: scale(1.2)
  -ms-transform: scale(1.2)
  transform: scale(1.2)
  -webkit-box-shadow: 0 0 12px 4px #ABABAB
  box-shadow: 0 0 12px 4px #ABABAB

.fourth.a1
  background: url('../images/abu_scape_couple.jpg')no-repeat
  background-size: 100% 12em

.fourth.a2
  background: url('../images/adj_twins_500.jpg')no-repeat
  background-size: 100% 12em

.fourth.a3
  background: url('../images/airlayer.jpg')no-repeat
  background-size: 100% 12em

.fourth.a4
  background: url('../images/sheets.gif')no-repeat
  background-size: 100% 12em

///////////////////////
// Footer Styles
///////////////////////
footer 
  padding: 1%
  width: 98%
  margin: 0 1% 0 1%

footer p
  text-align: center
