*
  &:after, &:before
  //  border: 1px solid red
  // border: 1px solid red
  box-sizing: border-box

body
  margin: 0

.header
  width: 100% 
  height: 100px
  background: #fefefe
  overflow: hidden
  position: fixed
  border-bottom: 2px solid #ccc
  z-index: 100
  .logo
    width: 10%
    height: 80%
    float: left
    padding-top: 1%
    margin-left: 10%
    img
      width: 80%
.spacer
  height: 75px

nav
  margin: 0 0 0 50%
  padding-top: 25px
  height: 100%
  span
    margin-left: 1%
    display: inline-block
    padding: 1%
    border-radius: 5px
    &:hover
      background: #af101b
      color: #fff

  .active
    background: #af101b
    color: #fff

#slide-1
  .jumbotron-text
    width: 45%
    height: 100%
    margin: 0 auto
    margin-top: 5%
    background: rgba(0,0,0,0.7)
    padding: 5%
    border-radius: 1.5rem
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1)
  button
    background: #af101b
    color: #fff
    border-radius: 5px
    border: 0
    display: block
    padding: 2%
    margin: 1% auto
    &:hover
      background: #4169E1
  h1
    color: #af101b
    text-align: center
    z-index: 50
  p
    color: white
    padding-left: 3%


.staff-section
  h1
    display: block
    width: 15%
    margin: 0 auto
    text-align: center
    color: #af101b
    background: rgba(0,0,0,0.7)
    border-radius: 10px

.staff
  width: 30%
  height: 500px
  float: left
  margin-left: 2.5%
  margin-top: 2.5%
  background: rgba(0,0,0,0.7)
  border-radius: 10px
  padding-top: 2%
  
  img
    width: 150px
    height: 150px
    display: block
    margin: 0 auto
    border-radius: 100%
  .staff-text
    width: 80%
    margin: 0 auto
    text-align: center
    p
      color: #fff
    h3
      color: #af101b

footer
  margin-top: 0%
  height: 75px
  background: #373f4a
  .section
    width: 33%
    float: left
    color: white
    text-align: center
    height: 100%
  p
    display: inline-block
    width: 80%
  .middle
    border-left: 1px solid #ccc
    border-right: 1px solid #ccc
  
#slide-1
  background: url("../images/hero.jpg") 50% 0 repeat fixed
  background-size: 100%
  min-height: 1000px
  height: 1000px
  margin: 0 auto
  width: 100%
  max-width: 2800px
  position: relative
  article
    height: 458px
    position: absolute
    text-align: center
    top: 150px
    width: 100% 

#slide-2
  background: url("../images/Stata_Center.jpg") 50% 0 repeat fixed
  background-size: 100%
  min-height: 1000px
  height: 1000px
  margin: 0 auto
  width: 100%
  max-width: 2800px
  position: relative
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8)
  box-shadow: 0 0 50px rgba(0,0,0,0.8)
  article
    height: 458px
    position: absolute
    text-align: center
    top: 150px
    width: 100% 
  

#slide-3
  background: url("../images/simmons.jpg") 50% 0 repeat fixed
  background-size: 100%
  min-height: 1000px
  height: 1000px
  margin: 0 auto
  width: 100%
  max-width: 2800px
  position: relative
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8)
  box-shadow: 0 0 50px rgba(0,0,0,0.8)
  article
    height: 458px
    position: absolute
    text-align: center
    top: 150px
    width: 100% 

#slide-4
  background: url("../images/Media Lab.jpg")50% 0 repeat fixed
  background-size: 132%
  min-height: 1000px
  height: 1000px
  margin: 0 auto
  width: 100%
  max-width: 2800px
  position: relative
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8)
  box-shadow: 0 0 50px rgba(0,0,0,0.8)
  article
    height: 458px
    position: absolute
    text-align: center
    top: 150px
    width: 100% 



