$dark-purple: #8e44ad
$light-purple: #9b59b6
$blue: #3498db
$turquoise: #1abc9c
$dark-turquoise: #16a085
$dark-grey: #888a87
$med-grey: #888a87
$light-grey: #95a5a6
$xlight-grey: #bdc3c7
$off-white: #ecf0f1
// Btn colors
$primary: #428bca
$success: #5cb85c
$info: #5bc0de
$warning: #f0ad4e
$danger: #d9534f


$my-margin: 10px 15px 0 0
$color-map:(primary: $primary, success: $success, info: $info, warning: $warning, danger: $danger)
