$mks-blue: #DDF0FD
$off-white: #EFE9E9
$sassy-pink: hotpink

$my-margins: 10px 15px 0 0

$map: (key1: value1, key2: value2, key3: value3)

// button colors
$primary: #428BCA //blue
$success: #5CB85C //green
$info: #5BC0DE //light-blue
$warning: #F0AD4E //yellow
$danger: #D9534F //red


$color-map: (primary: $primary, success: $success, info: $info, warning: $warning, danger: $danger)
