body {
	margin: 0;
	font-family: sans-serif;
	background-image: url("../images/background.jpg");
	height: 900px;
}
div.navbar {
	margin: 0;
	height: 60px;
	width: 100%;
	background-color: #E6E6E6;
	box-shadow: 0px 1px 3px black;
	float: left;
}
div.logo {
	float: left;
	margin-top: 15px;
	margin-left: 15%;
}
nav.button-block {
	margin-top:	0;
	margin-bottom: 0;
	margin-right: 15%;
	float: right;
	display: inline-block;
	height: 60px;
}
a.buttons {
	margin-right: -5px;
	color: #3D3D3D;
	font-size: small;
	font-weight: bold;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	height: 52px;
	padding-top: 8px;
}
a.buttons:link {text-decoration:none;}
a.buttons:visited {text-decoration:none;}
a.buttons:active {text-decoration:none;color:#E6E6E6;background-color:#3D3D3D;}
a.buttons:hover {text-decoration:none;color:#E6E6E6;background-color:#3D3D3D;}
a.this-page-button {
	margin-right: -5px;
	color:#E6E6E6;
	background-color:#3D3D3D;
	font-size: small;
	font-weight: bold;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	height: 52px;
	padding-top: 8px;
}
a.this-page-button:link {text-decoration:none;}
div.page-name-section {
	height: 150px;
	width: 100%;
	float: left;
	display: inline-block;
}
div.vert-separator {
	margin-left: 15%;
	background-color: #F85D5D;
	height:28px;
	width: 5px;
	display: inline-block;
}
div.page-name {
	margin-left: 5px;
	font-size: 35px;
	font-weight: bold;
	color: #E6E6E6;
	padding: 2px;
	display: inline-block;
}
div.project-space {
	margin-left: 15%;
	height: 650px;
	width: 1200px;
	float: left;
}
div.project {
	margin: 12px 24px 12px 0;
	height: 300px;
	float: left;
	display: inline-block;
	position: relative;
}
div.project-name {
	margin: 0;
	height: 50px;
	width: 375px;
	color:	#BDBDBD;
	text-align: center;
	background-color: white;
	position: absolute;
	bottom: 0;
}
div.bottom-bar {
	width: 100%;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
}
a.to-top-button {
	width: 40px;
	height: 40px;
	line-height: 5px;
	color: #E6E6E6;
	background-color:#3D3D3D;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	float: right;
}
a.to-top-button:link {text-decoration:none;}